body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('./images/game.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.689);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header-container img, .logo img {
    max-height: 70px;
    margin-top: 10px;
}

main {
    padding: 20px;
}

#controls {
    margin-bottom: 20px;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red; 
    font-size: 24px;
    font-weight: bold;
}
.visited {
    background-color: green !important;
}

#status, #moveLog {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button-29 {
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #fa8238 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    white-space: nowrap;
    font-size: 18px;
    margin: 10px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.footer-container p {
    margin: 5px 0;
    color: #fff;
}
